<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-usage">
        <h1>Hi <%= @user.first_name %>! <br> <br> What licenses are you currently using?</h1>
        <%= simple_form_for(@license_usage) do |f| %>
          <!-- Inject categories here -->
          <div class="form-group">
            <label class="control-label check_boxes optional"></label>
            <input type="hidden" name="user_id" value="<%= @user.id %>">
            <input type="hidden" name="usage[company_license_ids][]" value="">
            <div class="company-license-choices">
              <% CompanyLicense.where(company: @user.company).each do |company_license| %>
                <input type="checkbox" class="hidden" value="<%= company_license.id %>" name="usage[company_license_ids][]" id="usage_company_license_ids_<%= company_license.id %>">
                <label class="company-license-choice" for="usage_company_license_ids_<%= company_license.id %>">
                  <%= "#{company_license.license.name} #{company_license.license.license_type}" %> <br>
                  <i class="fa fa-check"></i>
                </label>
              <% end %>
             </div>
          </div>
          <%= f.submit "Submit", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".company-license-choice").click(function(){
      $(this).toggleClass("active");
    });
  });
</script>







