<nav id="dashboard-left" class="leftnav-open">
  <div class="leftnav_brand">
    <%= link_to "Saas 247", root_path, class: "logo-link" %>
  </div>
  <div class="leftnav_bottom">
    <ul>
      <li class="leftnav-links">
        <%= link_to dashboard_path do %>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="#C2CFE0" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.9 7.43333H5.76667V1.9H1.9V7.43333ZM1.9 14.1H5.76667V11.9H1.9V14.1ZM10.2333 14.1H14.1V8.56667H10.2333V14.1ZM10.2333 1.9V4.1H14.1V1.9H10.2333ZM1.5 8.83333C0.947715 8.83333 0.5 8.38562 0.5 7.83333V1.5C0.5 0.947715 0.947714 0.5 1.5 0.5H6.16667C6.71895 0.5 7.16667 0.947715 7.16667 1.5V7.83333C7.16667 8.38562 6.71895 8.83333 6.16667 8.83333H1.5ZM1.5 15.5C0.947715 15.5 0.5 15.0523 0.5 14.5V11.5C0.5 10.9477 0.947714 10.5 1.5 10.5H6.16667C6.71895 10.5 7.16667 10.9477 7.16667 11.5V14.5C7.16667 15.0523 6.71895 15.5 6.16667 15.5H1.5ZM9.83333 15.5C9.28105 15.5 8.83333 15.0523 8.83333 14.5V8.16667C8.83333 7.61438 9.28105 7.16667 9.83333 7.16667H14.5C15.0523 7.16667 15.5 7.61438 15.5 8.16667V14.5C15.5 15.0523 15.0523 15.5 14.5 15.5H9.83333ZM8.83333 1.5C8.83333 0.947715 9.28105 0.5 9.83333 0.5H14.5C15.0523 0.5 15.5 0.947715 15.5 1.5V4.5C15.5 5.05228 15.0523 5.5 14.5 5.5H9.83333C9.28105 5.5 8.83333 5.05228 8.83333 4.5V1.5Z"/>
        </svg>
        <p class="show">Dashboard</p>
        <% end %>
      </li>
      <li class="leftnav-links">
        <%= link_to company_licenses_path do %>
        <svg width="17" height="16" viewBox="0 0 17 16" fill="#C2CFE0" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.06663 1.9V5.76667H15.1V1.9H2.06663ZM2.06663 10.2333V14.1H15.1V10.2333H2.06663ZM1.49996 0.5H15.6666C16.125 0.5 16.5 0.875 16.5 1.33333V6.33333C16.5 6.79167 16.125 7.16667 15.6666 7.16667H1.49996C1.04163 7.16667 0.666626 6.79167 0.666626 6.33333V1.33333C0.666626 0.875 1.04163 0.5 1.49996 0.5ZM1.49996 8.83333H15.6666C16.125 8.83333 16.5 9.20833 16.5 9.66667V14.6667C16.5 15.125 16.125 15.5 15.6666 15.5H1.49996C1.04163 15.5 0.666626 15.125 0.666626 14.6667V9.66667C0.666626 9.20833 1.04163 8.83333 1.49996 8.83333Z"/>
        </svg>
        <p class="show">Company Licenses</p>
        <% end %>
      </li>
      <li class="leftnav-links">
        <%= link_to dashboard_path do %>
        <svg width="15" height="15" viewBox="0 0 15 15" fill="#C2CFE0" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.732 4.2294H3.21414V5.92128C3.21414 5.99782 3.18775 6.06356 3.13469 6.11942C3.08162 6.17528 3.01888 6.20306 2.94617 6.20306C2.86789 6.20306 2.80369 6.17652 2.75385 6.12374L0.0753481 3.30414C0.0252142 3.25137 0.000293915 3.18378 0.000293915 3.10137C0.000293915 3.01897 0.0255077 2.95138 0.0756415 2.89861L2.74564 0.0882668C2.81248 0.0293194 2.87962 0 2.94676 0C3.02475 0 3.08895 0.0265418 3.13909 0.0793167C3.18922 0.132092 3.21443 0.199681 3.21443 0.282083V1.97397H14.732C14.8044 1.97397 14.8672 2.00174 14.9203 2.0576C14.9733 2.11347 15 2.1792 15 2.25574V3.94763C15 4.02386 14.9736 4.09021 14.9205 4.14576C14.8675 4.20132 14.8047 4.2294 14.732 4.2294Z"/>
        <path d="M0.267968 10.7713H11.7859V9.07938C11.7859 9.00315 11.8122 8.9368 11.8653 8.88125C11.9184 8.82538 11.9811 8.79761 12.0535 8.79761C12.1318 8.79761 12.1957 8.82415 12.2462 8.87692L14.9247 11.6962C14.9748 11.7493 15 11.8166 15 11.899C15 11.9752 14.9748 12.04 14.9247 12.0925L12.2544 14.9121C12.1872 14.9707 12.1204 15 12.0535 15C11.9811 15 11.9184 14.9723 11.8653 14.9164C11.8122 14.8605 11.7859 14.7945 11.7859 14.718V13.0261H0.267968C0.195259 13.0261 0.132811 12.9983 0.0794521 12.9424C0.0263865 12.8866 4.47639e-07 12.8205 4.47639e-07 12.744V11.0521C4.47639e-07 10.9756 0.0263865 10.9098 0.0794521 10.854C0.132811 10.7994 0.195259 10.7713 0.267968 10.7713Z"/>
        </svg>
        <p class="show">Integration</p>
        <% end %>
      </li>
      <li class="leftnav-links">
        <%= link_to usage_path do %>
        <svg width="17" height="17" viewBox="0 0 17 17" fill="#C2CFE0" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.92041 9.6764C3.96397 10.0651 0 11.448 0 13.8125V17H17V13.8125C17 11.448 13.036 10.0651 10.0796 9.6764C9.50231 9.6005 8.96344 9.5625 8.5 9.5625C8.03656 9.5625 7.49769 9.6005 6.92041 9.6764ZM7.05821 8.24943C7.50834 8.41162 7.9938 8.5 8.5 8.5C9.0062 8.5 9.49166 8.41162 9.94179 8.24943C11.5797 7.65927 12.75 6.09193 12.75 4.25C12.75 1.90188 10.8481 0 8.5 0C6.15188 0 4.25 1.90188 4.25 4.25C4.25 6.09193 5.42027 7.65927 7.05821 8.24943ZM15.6 15.6V13.8125C15.6 13.6201 15.5148 13.348 15.1213 12.9849C14.7183 12.613 14.093 12.2476 13.2932 11.9273C11.6915 11.2856 9.74343 10.9625 8.5 10.9625C7.25657 10.9625 5.30855 11.2856 3.70679 11.9273C2.90704 12.2476 2.28168 12.613 1.87871 12.9849C1.48525 13.348 1.4 13.6201 1.4 13.8125V15.6H15.6ZM8.5 1.4C6.92507 1.4 5.65 2.67507 5.65 4.25C5.65 5.82493 6.92507 7.1 8.5 7.1C10.0749 7.1 11.35 5.82493 11.35 4.25C11.35 2.67507 10.0749 1.4 8.5 1.4Z"/>
        </svg>
        <p class="show">Usage</p>
        <% end %>
      </li>
    </ul>
    <div id="leftnav_toggle">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="#C2CFE0" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V12C0 13.1046 0.89543 14 2 14H12C13.1046 14 14 13.1046 14 12V2C14 0.895431 13.1046 0 12 0H2ZM5 2C4.44772 2 4 2.44772 4 3V11C4 11.5523 4.44772 12 5 12C5.55228 12 6 11.5523 6 11V3C6 2.44772 5.55228 2 5 2Z"/>
      </svg>

      <p class="show">Toggle sidebar</p>
    </div>
  </div>
</nav>
