<div id="navbar-container">
  <div class="left-items">
    <div class="breadcrumbs">
      <% if content_for(:title) != "Dashboard" && content_for(:title) != "Company Licenses" && content_for(:title) != "Usage"%>
      <%= link_to "< Back", :back %>
      <% end %>
      <h2 class="main-title"><%= content_for(:title) %></h2>
    </div>
    <% if user_signed_in? %>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="icons">
        <i id="notification-bell" class="far fa-bell"></i>
        <!-- <span class="badge badge-pill badge-danger">1</span> -->
      </div>
      </a>

      <%#= image_tag License.find_by(name: "Slack").logo_url, alt: "Slack", class: "app-logo", id: "slack-icon" %>
      <div id="notification-feed" class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuLink">
        <!-- <a class="dropdown-item flex-column" href="#">
          <div class="d-flex justify-content-center align-items-center py-2">
            <%#= image_tag License.find_by(name: "Slack").logo_url, alt: "Slack", class: "app-logo" %>
            <div class="ml-2">Slack - Request sent to Mike Peterson</div>
          </div>
        </a> -->
      </div>
    </div>
    <%= link_to '../letter_opener', target: "_blank" do %>
    <div class="icons">
       <i style="font-size: 24px;" class="fas fa-inbox"></i>
    </div>
    <% end %>

    <div class="icons">
      <i style="font-size: 24px;" class="fas fa-cog"></i>
    </div>
  </div>
  <div class="right-items">
    <span class="divider"></span>
    <h3><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>

    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" class="avatar">
      </a>

      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuLink">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
    <% end %>
  </div>
</div>


