  <div class="big-metrics-card">
    <div class="metrics-header">
      <div class="header-content">
        <h4>Utilization - Least used applications</h4>
        <p>Last 12 months</p>
      </div>
      <a href="">View All</a>
    </div>


      <div class="app-info">
        <div class="app-name no-left-margin">Application</div>
        <div class="app-headcount app-item">Head Count</div>
        <div class="app-utilization app-item">Utilization</div>
        <div class="app-savings app-item">Potential Saving</div>

      </div>


    <% apps.each do |app| %>
      <div class="app-info">

        <%= image_tag("#{app.logo}", class: "app-logo") %>
        <div class="app-name"><%= app.app %></div>
        <div class="app-headcount app-item"><%= app.usage %>/<%= app.capacity %></div>
        <div class="app-utilization app-item"><%= app.utilization %>%</div>
        <div class="app-savings app-item">€ <%= app.potential_saving %></div>

      </div>
    <% end %>
  </div>
