<div id="metrics-top">

  <div class="metrics-card">
    <div class="card-top-text">Applications</div>
    <div class="card-bottom-text"><%= @total_applications %></div>
  </div>

  <div class="metrics-card">
    <div class="card-top-text">Monthly spend</div>
    <div class="card-bottom-text">€ <%= @spend_current_month %><span><%= @spend_trend_month %>%</span></div>
  </div>

  <div class="metrics-card">
    <div class="card-top-text">Spend last 12 months</div>
    <div class="card-bottom-text">€ <%= @spend_one_year_back %></div>
  </div>

  <div class="metrics-card">
    <div class="card-top-text">Utilization</div>
    <div class="card-bottom-text"><%= @utilization %>%</div>
  </div>

</div>
