  <div class="big-metrics-card">
    <div class="metrics-header">
      <div class="header-content">
        <h4>Utilization - Least used applications</h4>
        <p>Current</p>
      </div>
      <a href="">View All</a>
    </div>


      <div class="app-info">
        <div class="app-name no-left-margin">Application</div>
        <div class="app-headcount app-item">Head Count</div>
        <div class="app-utilization app-item">Utilization</div>
        <div class="app-savings app-item">Potential Saving</div>
      </div>

    <% @utilization_per_app.each do |license| %>
      <div class="app-info">

        <%= image_tag("#{license[:logo_url]}", class: "app-logo") %>
        <div class="app-name"><%= license[:application] %></div>
        <div class="app-headcount app-item"><%= license[:usage] %>/<%= license[:capacity] %></div>
        <div class="app-utilization app-item"><%= license[:utilization] %>%</div>
        <div class="app-savings app-item"><%= number_to_currency(((100 - license[:utilization].to_i) * license[:expense].to_i / 100), unit: "€ ", separator: ",", delimiter: ".", precision: 0) %></div>
      </div>
    <% end %>
  </div>
