<div class="big-metrics-card">

  <%= month_calendar(events: @license_transactions, attribute: :expiry_date) do |date, license_transactions| %>

    <div class="day-number">
      <%= date.day %>
    </div>

    <div class="day-renewal-sum">

      <% license_transactions.each do |license_transaction| %>

        <div class="app-info-tip">

        <%= link_to company_license_path(license_transaction.company_license.license.id) do %>

            <div class="dot">

              <span class="app-info-content">

                <%= license_transaction.company_license.license.name %>
                <br>
                Renewal sum: <%= number_with_delimiter(license_transaction.total_purchase_price, :delimiter => '.') %> €

                <br>
                Expiry date: <%= license_transaction.expiry_date %>
                <br>

      <%#= raise %>

              </span>

            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>

</div>




