<table
  id="table-styled"
  class="card-container table-container"
  data-toggle="table"
  data-search="true"
  data-sort-name="name">
  <thead>
    <tr>
      <th data-field="name" data-sortable="true">Application</th>
      <th data-field="nDep" data-sortable="true">N. Dep</th>
      <th data-field="category" data-sortable="true">Category</th>
      <th data-field="vendor" data-sortable="true">Vendor</th>
      <th data-field="expense" data-sortable="true">Expense</th>
      <th data-field="LSize" data-sortable="true">L. Size</th>
      <th data-field="LUsed" data-sortable="true">L. Used</th>
      <th data-field="util" data-sortable="true">Utilization</th>
      <th data-field="SPotential" data-sortable="true">Savings potential</th>
    </tr>
    <tbody>
      <% @licenses_aggregated.each do |license| %>
      <tr>
        <td class="table-row-name">
          <%= link_to company_license_path(license[:id]) do %>
            <%= license[:application] %>
          <% end %>
        </td>
        <td><%= license[:departments] %></td>
        <td><%= license[:category] %></td>
        <td><%= license[:vendor] %></td>
        <td><%= number_to_currency(license[:expense], unit: "€ ", separator: ",", delimiter: ".", precision: 0)%></td>
        <td><%= license[:capacity] %></td>
        <td><%= license[:usage] %></td>
        <td><%= license[:utilization] %>%</td>
        <td>
          <%= number_to_currency(((100 - license[:utilization].to_i) * license[:expense].to_i / 100), unit: "€ ", separator: ",", delimiter: ".", precision: 0)%></td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>
