<table
  id="table-styled"
  class="card-container table-container"
  data-toggle="table"
  data-search="true"
  data-sort-name="name">
  <thead>
    <tr>
      <th data-field="owner" data-sortable="true">Owner</th>
      <th data-field="department" data-sortable="true">Department</th>
      <th data-field="expense" data-sortable="true">Expense</th>
      <th data-field="LSize" data-sortable="true">L. Size</th>
      <th data-field="LUsed" data-sortable="true">L. Used</th>
      <th data-field="utilization" data-sortable="true">Utilization</th>
      <th data-field="billingCycle" data-sortable="true">Billing Cycle</th>
      <th data-field="startDate" data-sortable="true">Start Date</th>
      <th data-field="renewalDate" data-sortable="true">Renewal Date</th>
      <th data-field="alert">Alert</th>
    </tr>
    <tbody>
      <%# @licenses.each do |license| %>
      <tr>
        <td class="table-row-name"><%= license.owner.email %></td>
        <td><%= license.owner.department %></td>
        <td class="table-price"><%= license.total_purchase_price %></td>
        <td><%= license.user_licenses_purchased %></td>
        <%
          user_licenses_used = rand((license.user_licenses_purchased / 1.3)..license.user_licenses_purchased).floor
          utilization = ((user_licenses_used * 100) / license.user_licenses_purchased)
        %>
        <td><%= user_licenses_used %></td>
        <td><%= utilization %>%</td>
        <td><%= license.commitment_period %></td>
        <td><%= license.expiry_date %></td>
        <td><%= license.purchase_date %></td>
        <td class="toggle-alert">
          <label class="switch">
            <input type="checkbox" <%= ['', 'checked="checked"'].sample %>>
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <%# end %>
    </tbody>
  </thead>
</table>
