<div class="landing-page-container">
  <main class="main-banner">
<%= link_to root_path do %>
 <%= image_tag "Saas247_full-logo_white.png", alt: "Saas24-7 icon circle", class: "full-saas247-logo" %>
<% end %>
    <nav>
      <div class="nav-left-landing">

      </div>
      <div class="nav-right">
        <%= link_to "Log in", dashboard_path, class: "btn btn-outline" %>
        <%= link_to "Sign up", dashboard_path, class: "btn btn-primary" %>
      </div>
    </nav>
    <div class="main-headline-container">
      <h1>Cut your Saas costs and save yourself time.</h1>
      <p>Built for businesses who want to get their Saas spending back under control without breaking the bank.</p>
      <%= link_to "Try it for free", dashboard_path, class: "btn btn-outline btn-bold" %>
    </div>
    <div class="banner-img">
      <%= image_tag "LandingPage_browser.png", alt: "Saas 247 dashboard in browser" %>
    </div>
  </main>
  <section class="steps">
    <div class="section-title">
      <h2>Smile, your life just got easier!</h2>
      <p>Let us help you to help yourself by allowing you to take back control of your spending.</p>
    </div>
    <div class="steps-container">
      <div class="step-container">
        <svg id="path-1" width="476" height="175" viewBox="0 0 476 175" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 47C124 -45.0001 358 1.00005 475 174" stroke="black" stroke-opacity="0.3"/>
        </svg>
        <div class="step-img">
          <svg width="72" height="79" viewBox="0 0 72 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path d="M44.62 41.1401C43.72 38.5401 40.92 37.2401 38.42 38.1401L3.31999 50.1401C2.11999 50.5401 1.11999 51.4401 0.519986 52.6401C-0.0800136 53.8401 -0.180014 55.1401 0.319986 56.3401L6.81999 75.3401C7.21999 76.5401 8.11999 77.5401 9.31999 78.1401C10.02 78.4401 10.72 78.6401 11.52 78.6401C12.02 78.6401 12.62 78.5401 13.12 78.3401L48.12 66.3401C49.32 65.9401 50.32 65.0401 50.92 63.8401C51.52 62.6401 51.62 61.3401 51.12 60.1401L44.62 41.1401ZM44.52 46.9401L3.91999 60.9401L2.81999 57.8401L43.42 43.9401L44.52 46.9401ZM2.31999 53.4401C2.61999 52.7401 3.21999 52.2401 4.01999 51.9401L39.12 39.9401C39.42 39.8401 39.72 39.7401 40.02 39.7401C40.42 39.7401 40.92 39.8401 41.32 40.0401C42.02 40.3401 42.52 40.9401 42.82 41.7401L42.92 41.9401L2.21999 55.9401L2.11999 55.7401C1.91999 54.9401 1.91999 54.1401 2.31999 53.4401ZM49.12 62.9401C48.82 63.6401 48.22 64.1401 47.42 64.4401L12.32 76.4401C11.62 76.6401 10.82 76.6401 10.12 76.3401C9.41999 76.0401 8.91999 75.4401 8.61999 74.6401L4.51999 62.7401L45.12 48.8401L49.22 60.7401C49.52 61.4401 49.52 62.2401 49.12 62.9401Z" fill="black"/>
          <path d="M43.12 57.7399L41.22 58.4399C40.72 58.6399 40.42 59.1399 40.62 59.7399C40.72 60.1399 41.12 60.4399 41.52 60.4399C41.62 60.4399 41.72 60.4399 41.82 60.3399L43.72 59.6399C44.22 59.4399 44.52 58.9399 44.32 58.3399C44.22 57.8399 43.62 57.5399 43.12 57.7399Z" fill="black"/>
          <path d="M38.42 59.34L36.52 60.04C36.02 60.24 35.72 60.74 35.92 61.34C36.02 61.74 36.42 62.04 36.82 62.04C36.92 62.04 37.02 62.04 37.12 61.94L39.02 61.24C39.52 61.04 39.82 60.54 39.62 59.94C39.52 59.44 39.02 59.14 38.42 59.34Z" fill="black"/>
          <path d="M33.82 60.9401L31.92 61.6401C31.42 61.8401 31.12 62.3401 31.32 62.9401C31.42 63.3401 31.82 63.6401 32.22 63.6401C32.32 63.6401 32.42 63.6401 32.52 63.5401L34.42 62.8401C34.92 62.6401 35.22 62.1401 35.02 61.5401C34.92 61.0401 34.32 60.7401 33.82 60.9401Z" fill="black"/>
          <path d="M29.12 62.5399L27.22 63.2399C26.72 63.4399 26.42 63.9399 26.62 64.5399C26.72 64.9399 27.12 65.2399 27.52 65.2399C27.62 65.2399 27.72 65.2399 27.82 65.1399L29.72 64.4399C30.22 64.2399 30.52 63.7399 30.32 63.1399C30.22 62.6399 29.62 62.3399 29.12 62.5399Z" fill="black"/>
          <path d="M20.92 66.4401C20.22 64.4401 18.02 63.4401 16.12 64.0401C15.62 64.2401 15.22 64.4401 14.92 64.7401C14.42 64.7401 13.92 64.7401 13.52 64.9401C12.52 65.2401 11.82 65.9401 11.32 66.8401C10.92 67.7401 10.82 68.7401 11.12 69.7401C11.42 70.7401 12.12 71.4401 13.02 71.9401C13.52 72.2401 14.12 72.3401 14.72 72.3401C15.12 72.3401 15.52 72.2401 15.92 72.1401C16.42 71.9401 16.82 71.7401 17.12 71.4401C17.22 71.4401 17.22 71.4401 17.32 71.4401C17.72 71.4401 18.12 71.3401 18.52 71.2401C19.52 70.9401 20.22 70.2401 20.72 69.3401C21.12 68.4401 21.22 67.4401 20.92 66.4401ZM15.62 68.2401C15.52 67.8401 15.52 67.4401 15.62 67.0401C15.92 67.2401 16.22 67.5401 16.32 67.9401C16.42 68.3401 16.42 68.7401 16.32 69.1401C16.02 68.9401 15.72 68.6401 15.62 68.2401ZM13.82 70.2401C13.42 70.0401 13.02 69.6401 12.92 69.2401C12.62 68.4401 12.92 67.6401 13.52 67.2401C13.42 67.8401 13.52 68.4401 13.72 69.0401C13.92 69.6401 14.22 70.1401 14.72 70.5401C14.32 70.4401 14.12 70.3401 13.82 70.2401ZM18.92 68.4401C18.82 68.7401 18.62 68.9401 18.42 69.0401C18.52 68.4401 18.42 67.8401 18.22 67.2401C18.02 66.6401 17.72 66.1401 17.22 65.7401C18.02 65.7401 18.72 66.2401 18.92 66.9401C19.12 67.5401 19.12 68.0401 18.92 68.4401Z" fill="black"/>
          <path d="M68.52 13.7401L33.82 0.340083C31.32 -0.659917 28.42 0.640083 27.52 3.14008L20.32 21.8401C19.82 23.0401 19.92 24.4401 20.42 25.6401C20.92 26.8401 21.92 27.7401 23.12 28.2401L57.82 41.5401C58.42 41.7401 59.02 41.8401 59.62 41.8401C61.62 41.8401 63.42 40.6401 64.22 38.7401L71.42 20.0401C71.92 18.8401 71.82 17.4401 71.32 16.2401C70.72 15.0401 69.72 14.1401 68.52 13.7401ZM32.12 2.04008C32.42 2.04008 32.82 2.14008 33.12 2.24008L67.82 15.5401C68.52 15.8401 69.12 16.3401 69.42 17.0401C69.72 17.7401 69.72 18.5401 69.52 19.2401L69.42 19.4401L29.32 4.14008L29.42 3.94008C29.82 2.74008 30.92 2.04008 32.12 2.04008ZM28.62 5.94008L68.72 21.3401L67.52 24.4401L27.42 9.04008L28.62 5.94008ZM62.32 38.0401C61.72 39.5401 60.02 40.2401 58.52 39.7401L23.82 26.3401C23.12 26.0401 22.52 25.5401 22.22 24.8401C21.92 24.1401 21.92 23.3401 22.12 22.6401L26.62 10.9401L66.72 26.3401L62.32 38.0401Z" fill="black"/>
          <path d="M59.42 31.84L57.52 31.14C57.02 30.94 56.42 31.24 56.22 31.74C56.02 32.24 56.32 32.84 56.82 33.04L58.72 33.74C58.82 33.74 58.92 33.84 59.12 33.84C59.52 33.84 59.92 33.64 60.02 33.24C60.22 32.54 59.92 31.94 59.42 31.84Z" fill="black"/>
          <path d="M54.82 30.04L52.92 29.34C52.42 29.14 51.82 29.44 51.62 29.94C51.42 30.44 51.72 31.04 52.22 31.24L54.12 31.94C54.22 31.94 54.32 32.04 54.52 32.04C54.92 32.04 55.32 31.84 55.42 31.44C55.62 30.84 55.32 30.24 54.82 30.04Z" fill="black"/>
          <path d="M50.22 28.2399L48.32 27.5399C47.82 27.3399 47.22 27.6399 47.02 28.1399C46.82 28.6399 47.12 29.2399 47.62 29.4399L49.52 30.1399C49.62 30.1399 49.72 30.2399 49.92 30.2399C50.32 30.2399 50.72 30.0399 50.82 29.6399C51.02 29.0399 50.82 28.4399 50.22 28.2399Z" fill="black"/>
          <path d="M45.62 26.54L43.72 25.84C43.22 25.64 42.62 25.94 42.42 26.44C42.22 26.94 42.52 27.54 43.02 27.74L44.92 28.44C45.02 28.44 45.12 28.54 45.32 28.54C45.72 28.54 46.12 28.34 46.22 27.94C46.42 27.24 46.22 26.74 45.62 26.54Z" fill="black"/>
          <path d="M34.62 19.2401C34.12 19.0401 33.72 18.9401 33.22 19.0401C32.92 18.7401 32.52 18.4401 32.02 18.2401C30.12 17.5401 27.82 18.4401 27.12 20.4401C26.32 22.4401 27.32 24.6401 29.32 25.3401C29.72 25.5401 30.22 25.6401 30.72 25.6401C31.02 25.9401 31.52 26.2401 31.92 26.4401C32.32 26.6401 32.82 26.7401 33.32 26.7401C33.82 26.7401 34.42 26.6401 34.82 26.4401C35.72 26.0401 36.42 25.2401 36.82 24.3401C37.62 22.2401 36.62 20.0401 34.62 19.2401ZM32.32 22.4401C32.12 22.8401 31.92 23.1401 31.52 23.3401C31.42 22.9401 31.42 22.5401 31.52 22.1401C31.72 21.7401 31.92 21.4401 32.32 21.2401C32.52 21.6401 32.52 22.0401 32.32 22.4401ZM29.02 21.1401C29.32 20.4401 30.02 19.9401 30.72 19.9401H30.82C30.42 20.3401 30.02 20.8401 29.82 21.3401C29.62 21.9401 29.52 22.5401 29.62 23.0401C28.92 22.7401 28.72 21.9401 29.02 21.1401ZM35.02 23.4401C34.82 23.9401 34.52 24.2401 34.02 24.4401C33.72 24.5401 33.52 24.6401 33.22 24.5401C33.62 24.1401 34.02 23.6401 34.22 23.1401C34.42 22.5401 34.52 21.9401 34.42 21.4401C35.02 21.9401 35.22 22.7401 35.02 23.4401Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="71.75" height="78.64" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        </div>
        <div class="step-text">
          <div class="step-number">
            <span>1</span>
          </div>
          <div>
            <h3>Import your bank<br>transactions in one click</h3>
            <p>It’s as easy as loggin into your bank account with the maximum regard in security and privacy.</p>
          </div>
        </div>
        <svg id="form-1" width="604" height="288" viewBox="0 0 604 288" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.1" d="M194 281C22 313 -38 213 25 138C182 -57 465 -27 580 119C695 265 366 249 194 281Z" fill="#11C5CD"/>
        </svg>
      </div>
      <div class="step-container">
        <svg id="path-2" width="338" height="153" viewBox="0 0 338 153" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M337 3.9998C189 -16.0002 47 55 1 152" stroke="black" stroke-opacity="0.3"/>
        </svg>
        <div class="step-img">
          <svg width="93" height="64" viewBox="0 0 93 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5415 29.464C6.96798 29.464 0 37.144 0 46.584V63.2C0 63.64 0.361243 64 0.802762 64H43.9673C44.4088 64 44.77 63.64 44.77 63.2V46.576C44.77 37.136 37.8021 29.456 29.2366 29.456H28.9235V26.96C28.9556 26.96 28.9958 26.96 29.0279 26.96C35.161 26.96 38.1794 24.432 38.3158 24.32C38.5326 24.136 38.6289 23.848 38.5807 23.568C38.5326 23.288 38.3319 23.056 38.067 22.96C35.3536 21.96 34.1575 17.776 34.1495 17.728C34.1254 17.648 34.0853 17.584 34.0451 17.52C34.7034 16 35.0647 14.336 35.0647 12.584C35.0727 5.648 29.341 0 22.3007 0C15.2605 0 9.53681 5.648 9.53681 12.592C9.53681 14.432 9.94622 16.176 10.6687 17.744C10.6205 17.912 9.42443 21.976 6.75123 22.96C6.48632 23.056 6.28563 23.288 6.23746 23.568C6.1893 23.848 6.28563 24.128 6.50237 24.32C6.63082 24.432 9.6492 26.952 15.7743 26.952V29.448L15.5415 29.464ZM43.1645 46.576V62.4H1.60552V46.584C1.60552 37 8.83841 31.064 15.5415 31.064H16.3603L16.7858 31.312C18.5037 32.344 20.4303 32.856 22.3569 32.856C24.2996 32.856 26.2423 32.336 27.9763 31.28L28.3455 31.056H29.2366C35.9316 31.064 43.1645 36.992 43.1645 46.576ZM11.1423 12.6C11.1423 12.16 11.1744 11.728 11.2306 11.304C11.5678 11.352 12.2823 11.432 13.2937 11.432C15.7101 11.432 19.8202 10.944 24.42 8.4C24.9097 9.152 27.326 12.44 32.9132 13.36C32.9614 13.368 33.0016 13.368 33.0417 13.368C33.1782 13.368 33.3066 13.32 33.427 13.256C33.0738 19.008 28.2251 23.592 22.3007 23.592C16.1516 23.592 11.1423 18.664 11.1423 12.6ZM22.3007 25.192C24.0829 25.192 25.7767 24.832 27.318 24.176V29.808L27.1414 29.912C24.2033 31.688 20.5507 31.696 17.6046 29.936L17.3798 29.8V24.208C18.897 24.848 20.5587 25.192 22.3007 25.192ZM36.2206 23.776C34.9603 24.448 32.552 25.36 28.9235 25.344V23.456C28.9235 23.424 28.9075 23.392 28.8994 23.352C30.5692 22.352 31.982 21 33.0337 19.384C33.5555 20.656 34.5669 22.6 36.2206 23.776ZM33.427 11.88C33.3467 11.84 33.2665 11.8 33.1782 11.784C28.3134 10.984 26.2262 8.224 25.8008 7.584C27.1253 6.744 28.482 5.736 29.8387 4.512C31.8937 6.368 33.2344 8.968 33.427 11.88ZM22.3007 1.6C24.6207 1.6 26.7721 2.304 28.5542 3.496C20.7193 10.456 12.9486 9.896 11.5357 9.72C12.8281 5.056 17.1631 1.6 22.3007 1.6ZM8.61364 23.776C10.171 22.664 11.1584 20.864 11.7043 19.6C12.7639 21.152 14.1607 22.448 15.7984 23.408C15.7984 23.424 15.7903 23.44 15.7903 23.456V25.344C12.2502 25.344 9.86595 24.432 8.61364 23.776Z" fill="black"/>
          <path d="M77.4585 29.456H77.1454V27.736V25.088V23.464C77.1454 23.432 77.1294 23.4 77.1214 23.36C78.7429 22.384 80.9826 20.592 82.2751 17.544C82.2751 17.536 82.2671 17.528 82.2671 17.528C82.9253 16.008 83.2866 14.344 83.2866 12.592C83.2946 5.648 77.5709 0 70.5307 0C63.4905 0 57.7668 5.648 57.7668 12.592C57.7668 14.384 58.1601 16.088 58.8505 17.632C60.9457 21.792 62.4228 22.464 64.0203 23.408C64.0203 23.424 64.0123 23.44 64.0123 23.456V29.456H63.7714C55.1979 29.456 48.2299 37.136 48.2299 46.576V63.2C48.2299 63.64 48.5912 64 49.0327 64H92.1972C92.6388 64 93 63.64 93 63.2V46.576C93 37.136 86.032 29.456 77.4585 29.456ZM81.657 11.88C81.5767 11.84 81.4964 11.8 81.4001 11.784C76.5353 10.984 74.4482 8.224 74.0307 7.584C75.3553 6.744 76.712 5.744 78.0686 4.512C80.1237 6.368 81.4643 8.968 81.657 11.88ZM70.5307 1.6C72.8507 1.6 75.0021 2.304 76.7842 3.496C68.9492 10.456 61.1785 9.896 59.7656 9.72C61.0581 5.056 65.385 1.6 70.5307 1.6ZM59.3723 12.6C59.3723 12.16 59.4044 11.728 59.4606 11.304C59.7978 11.352 60.5122 11.432 61.5237 11.432C63.94 11.432 68.0501 10.944 72.65 8.4C73.1397 9.152 75.556 12.44 81.1432 13.36C81.1833 13.368 81.2315 13.368 81.2716 13.368C81.4081 13.368 81.5446 13.32 81.657 13.256C81.3038 19.008 76.4551 23.592 70.5307 23.592C64.3735 23.592 59.3723 18.664 59.3723 12.6ZM75.5479 24.176V29.808L75.3713 29.912C72.4332 31.688 68.7807 31.696 65.8345 29.936L65.6098 29.8V24.208C67.127 24.832 68.7887 25.184 70.5307 25.184C72.3128 25.192 74.0066 24.832 75.5479 24.176ZM91.3945 62.4H49.8274V46.584C49.8274 37 57.0603 31.064 63.7634 31.064H64.5822L64.9997 31.32C66.7176 32.352 68.6442 32.864 70.5708 32.864C72.5135 32.864 74.4562 32.336 76.1902 31.288L76.5594 31.064H77.4505C84.1536 31.064 91.3864 37 91.3864 46.584V62.4H91.3945Z" fill="black"/>
          </svg>
        </div>
        <div class="step-text">
          <div class="step-number">
            <span>2</span>
          </div>
          <div>
            <h3>See who<br>is using what</h3>
            <p>Do you really know who is using which software? Get an overview of the employees with a quick and simple survey.</p>
          </div>
        </div>
        <svg id="form-2" width="595" height="300" viewBox="0 0 595 300" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M119 64.0002C195 -6.99983 437 -37.9999 546 74.0002C655 186 570 348 407 285C244 222 289 298 98 292C-93 286 43 135 119 64.0002Z" fill="#10D9AC" fill-opacity="0.05"/>
        </svg>
      </div>
      <div class="step-container">
        <div class="step-img">
          <svg width="68" height="60" viewBox="0 0 68 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path d="M43.4611 10.4954C41.1282 10.4954 38.7953 10.8453 36.5488 11.545C35.5983 9.44585 34.3887 7.52165 32.6606 5.77238C25.3163 -1.83695 13.2197 -1.92441 5.70254 5.50999C-1.81462 12.9444 -1.90102 25.1893 5.44333 32.7986C9.0723 36.5596 13.9973 38.5712 19.0088 38.5712C19.0952 38.5712 19.0952 38.5712 19.1816 38.5712C19.5272 41.1951 20.2184 43.7316 21.4281 46.0931C21.5145 46.1805 21.6009 46.268 21.6873 46.3555C21.6873 46.4429 21.6873 46.6179 21.6873 46.7053C21.8601 47.405 21.8601 48.0173 21.5145 48.5421C20.3048 50.6412 15.8982 51.9531 14.3429 52.303C13.9973 52.3905 13.8245 52.5654 13.7381 52.9152C13.6517 53.1776 13.7381 53.5275 13.9109 53.7899C16.3302 56.4138 19.268 57.201 22.0329 57.201C25.4027 57.201 28.3404 56.0639 29.4637 55.5391C33.6111 58.4254 38.4497 59.9998 43.4611 59.9998C56.9402 59.9998 67.9999 48.8919 67.9999 35.2476C67.9999 21.6033 56.9402 10.4954 43.4611 10.4954ZM6.73939 31.5741C-0.000131449 24.6645 0.172677 13.5566 6.9986 6.73448C13.8245 -0.0876777 24.7978 0.0872493 31.5374 6.99687C33.179 8.74614 34.4751 10.6703 35.2527 12.7695V12.8569V12.9444C37.672 19.1543 36.4624 26.4138 31.6238 31.4867C31.5374 31.5741 31.3645 31.7491 31.2781 31.8365C30.6733 32.6237 30.4141 33.4983 30.5869 34.5479C30.8461 36.5596 32.747 38.3963 34.1295 39.5333C29.5501 40.6703 25.9211 36.2972 25.7483 36.1222C25.4891 35.7724 25.057 35.7724 24.625 35.9473C24.5386 35.9473 24.5386 35.9473 24.4522 35.9473C18.1447 38.0464 11.3188 36.3846 6.73939 31.5741ZM43.4611 58.2505C38.6225 58.2505 33.9567 56.6762 30.0685 53.7899C30.0685 53.7899 29.9821 53.7899 29.9821 53.7024C29.8957 53.7024 29.8957 53.6149 29.8093 53.6149C29.7229 53.6149 29.7229 53.6149 29.6365 53.6149C29.5501 53.6149 29.5501 53.6149 29.4637 53.6149C29.3773 53.6149 29.3773 53.6149 29.2909 53.7024H29.2044C29.118 53.7024 21.5145 57.5508 16.3302 53.6149C18.3175 53.0027 21.7737 51.6908 23.0698 49.4167C23.6746 48.3671 23.761 47.3176 23.4154 46.0931C23.329 45.9182 23.2426 45.8307 23.1562 45.6558C23.1562 45.4808 23.1562 45.3059 23.0698 45.2184C22.0329 43.0319 21.3417 40.7578 20.9961 38.3963C22.2921 38.3088 23.5018 38.0464 24.7978 37.6091C25.8347 38.6587 28.7724 41.37 32.5742 41.37C33.6975 41.37 34.9935 41.1077 36.2032 40.4954C36.4624 40.3205 36.6352 40.0581 36.7216 39.7957C36.7216 39.4459 36.6352 39.1835 36.376 39.0085C35.3391 38.3088 32.5742 36.0348 32.2286 34.198C32.1422 33.6733 32.2286 33.3234 32.5742 32.8861C32.6606 32.7986 32.8334 32.6237 32.9198 32.5362C38.0177 27.1135 39.4865 19.5916 37.24 13.0319C39.3137 12.4196 41.3874 12.1572 43.5475 12.1572C56.0761 12.1572 66.2718 22.4779 66.2718 35.1601C66.2718 47.8424 55.9897 58.2505 43.4611 58.2505Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="68" height="60" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        </div>
        <div class="step-text">
          <div class="step-number">
            <span>3</span>
          </div>
          <div>
            <h3>Act smart,<br>look smart</h3>
            <p>Once you have the complete picture, you can make decisions based on our insights.</p>
          </div>
        </div>
        <svg id="form-3" width="465" height="283" viewBox="0 0 465 283" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M192 3.99985C278 -4.00015 429 -5.00022 460 111C491 227 362 103 245 232C128 361 17 210 2.00001 135C-13 59.9998 106 11.9998 192 3.99985Z" fill="#10BBD6" fill-opacity="0.06"/>
        </svg>
      </div>
    </div>
    <%= link_to "Try it for free", dashboard_path, class: "btn-cta" %>
  </section>
  <footer>
    <%= link_to "Saas 247", root_path %>
    <div class="footer-right">
      <ul>
        <li>About</li>
        <li>Pricing</li>
        <li>Blog</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </footer>
</div>
