<% content_for(:title, "#{@company_license.license.name}", ) %>

<%
  totalCost = 0
  totalLicensesPurchased = 0
  owners = 0
  departmentsCount = Hash.new(0)
  ownersCount = Hash.new(0)
  transactionsPerMonths = Hash.new(0)

  @company_license.license_transactions.each do |lt|
    dep = lt.owner.department
    departmentsCount[dep] += 1
    totalCost += lt.total_purchase_price
    totalLicensesPurchased += lt.user_licenses_purchased
    ownersCount[lt.owner.email] += 1
    if lt.purchase_date < Date.today && lt.purchase_date > Date.today - 365
      dateFilter = "#{lt.purchase_date.year}-#{lt.purchase_date.month}"
      transactionsPerMonths[dateFilter] += lt.total_purchase_price
    end
  end


  nOwners = ownersCount.keys.count
  nDeps = departmentsCount.keys.count
  user_licenses_used = rand((totalLicensesPurchased / 1.3)..totalLicensesPurchased).floor
  utilization = ((user_licenses_used * 100) / totalLicensesPurchased)
  # utilization_by_owner = ((user_licenses_used * 100) / totalLicensesPurchased)
  potential_savings = ((100 - utilization) * totalCost) / 100
  potential_savings_by_owner = ""



%>

<div class="show-container">
  <div class="app-info-container">
    <div class="app-info">
      <%= image_tag(@company_license.license.logo_url, alt: "alttext", class: "app-info-img") %>
    </div>
    <div class="app-info-group-detail">
      <h6> Application Name</h6>
      <p><%= @company_license.license.name %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Contact info</h6>
      <p> help@skype.com </p>
    </div>
    <div class="app-info-group-detail">
      <h6> Vendor </h6>
      <p> <%= @company_license.license.vendor.name %> </p>
    </div>
    <div class="app-info-group-detail">
      <h6> Number of owners </h6>
      <p><%= nOwners %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Number of departments </h6>
      <p><%= nDeps %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Category </h6>
      <p> <%= @company_license.license.category.name %> </p>
    </div>
  </div>
  <div class="right-info">
    <div class="info-row">
      <div id="metrics-top">

        <div class="metrics-card">
          <div class="card-top-text">Monthly Spend</div>
          <div class="card-bottom-text">$ <%= totalCost %></div>
        </div>

        <div class="metrics-card">
          <div class="card-top-text">Potential Savings</div>
          <div class="card-bottom-text">$ <%= potential_savings %></div>
        </div>

        <div class="metrics-card">
          <div class="card-top-text">Utilization</div>
          <div class="card-bottom-text"><%= utilization %>%</div>
        </div>
      </div>
    </div>


    <div class="graph-wrapper">
      <ul class="nav nav-tabs tabs-saassy" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cost over time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Utilization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Potential Savings</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= javascript_pack_tag 'chart' %>
          <% cost_over_time = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today).group_by_month(:purchase_date).sum(:total_purchase_price) %>

          <%= area_chart cost_over_time %>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
           <%= bar_chart [

              {

               name: "Total Spend",
               data: total_prices = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today)
          .group('owner_id').sum(:total_purchase_price).transform_keys { |key| User.find_by_id(key).email }
        },
        {
              name: "Utilization",
              data: total_licenses = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today)
          .group('owner_id').sum(:user_licenses_purchased).transform_values { |value| (rand((value / 1.3)..value).floor / value.to_f) * 100 }.transform_keys { |key| User.find_by_id(key).email }
        }], stacked: true
        %>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <%= bar_chart [
  {name: "Potential Savings", data: savings = total_licenses.map { |key, value| [ key, ((1 - (value / 100.0)) * total_prices[key]).round(2) ] }.to_h }
] %>



        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "company_licenses/partials/table-subscription-detail", locals: { licenseTransactions: @company_license.license_transactions } %>

