<% content_for(:title, "#{@company_license.license.name}", ) %>

<%
  totalCost = 0
  totalLicensesPurchased = 0
  owners = 0
  departmentsCount = Hash.new(0)
  ownersCount = Hash.new(0)
  transactionsPerMonths = Hash.new(0)

  @company_license.license_transactions.each do |lt|
    dep = lt.owner.department
    departmentsCount[dep] += 1
    totalCost += lt.total_purchase_price
    totalLicensesPurchased += lt.user_licenses_purchased
    ownersCount[lt.owner.email] += 1
    if lt.purchase_date < Date.today && lt.purchase_date > Date.today - 365
      dateFilter = "#{lt.purchase_date.year}-#{lt.purchase_date.month}"
      transactionsPerMonths[dateFilter] += lt.total_purchase_price
    end
  end


  nOwners = ownersCount.keys.count
  nDeps = departmentsCount.keys.count
  user_licenses_used = rand((totalLicensesPurchased / 1.3)..totalLicensesPurchased).floor
  utilization = ((user_licenses_used * 100) / totalLicensesPurchased)
  # utilization_by_owner = ((user_licenses_used * 100) / totalLicensesPurchased)
  potential_savings = ((100 - utilization) * totalCost) / 100
  potential_savings_by_owner = ""



%>

<div class="show-container">
  <div class="app-info-container">
    <div class="app-info">
      <%= image_tag(@company_license.license.logo_url, alt: "alttext", class: "app-info-img") %>
    </div>
    <div class="app-info-group-detail">
      <h6> Application Name</h6>
      <p><%= @company_license.license.name %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Contact info</h6>
      <p> help@skype.com </p>
    </div>
    <div class="app-info-group-detail">
      <h6> Vendor </h6>
      <p> <%= @company_license.license.vendor.name %> </p>
    </div>
    <div class="app-info-group-detail">
      <h6> Number of owners </h6>
      <p><%= nOwners %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Number of departments </h6>
      <p><%= nDeps %></p>
    </div>
    <div class="app-info-group-detail">
      <h6> Category </h6>
      <p> <%= @company_license.license.category.name %> </p>
    </div>
  </div>
  <div class="right-info">
    <div class="info-row">
      <div id="metrics-top">

        <div class="metrics-card">
          <div class="card-top-text">Yearly Spend</div>
          <!-- <div class="card-bottom-text">$ <%#= totalCost %></div> -->
          <div class="card-bottom-text"> € 137.000 </div>
        </div>

        <div class="metrics-card">
          <div class="card-top-text">Potential Savings</div>
          <!-- <div class="card-bottom-text">$ <%#= potential_savings %></div> -->
          <div class="card-bottom-text"> € 51.200</div>
        </div>

        <div class="metrics-card">
          <div class="card-top-text">Unused licenses</div>
          <!-- <div class="card-bottom-text"><%#= utilization %>%</div> -->
          <div class="card-bottom-text">47%</div>
        </div>
      </div>
    </div>


    <div class="graph-wrapper">
      <ul class="nav nav-tabs tabs-saassy" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Licenses spend over time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Potential license reductions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">License usage</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= javascript_pack_tag 'chart' %>
          <%# cost_over_time = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today).group_by_month(:purchase_date).sum(:total_purchase_price) %>
          <div class="card-bottom-graph">
            <%#= area_chart cost_over_time %>


            <%= area_chart [
            {
            name: "Actual spending",
            data: {"Dec 2018" => 60000, "Jan 2019" => 80000, "Feb 2019" => 120000, "Mar 2019" => 160000, "Apr 2019" => 170000, "May 2019" => 215000, "Jun 2019" => 240000, "Jul 2019" => 280000, "Aug 2019" => 300000, "Sep 2019" => 350000, "Oct 2019" => 390000}
            },

            {
            name: "Spending with potential savings",
            data: {"Dec 2018" => 54000, "Jan 2019" => 72000, "Feb 2019" => 92000, "Mar 2019" => 122000, "Apr 2019" => 132000, "May 2019" => 172000, "Jun 2019" => 182000, "Jul 2019" => 202000, "Aug 2019" => 212000, "Sep 2019" => 232000, "Oct 2019" => 234000}
            }
            ], ytitle: "€ (Euro)"

             %>


          </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
           <div class="card-bottom-graph">

         <%= bar_chart [
              {
                name: "Potential reductions",
                data: {"Mike Peterson" => 53, "Rob Morrison" => 46, "Peter Albridge" => 28, "Carol Anderson" => 17, "Susan Saas" => 8, "Kathrine Hudson" => 3}},
              ], xtitle: "% (as percentage)"
            %>

           <%#= bar_chart

              # [{
              #   name: "Total Spend",
              #   data: total_prices = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today)
              #   .group('owner_id').sum(:total_purchase_price).transform_keys { |key| User.find_by_id(key).email }
              # },
              # {
              #   name: "Utilization",
              #   data: total_licenses = @company_license.license_transactions.where("purchase_date BETWEEN ? AND ?", Date.today - 365.days, Date.today)
              #   .group('owner_id').sum(:user_licenses_purchased).transform_values { |value| (rand((value / 1.3)..value).floor / value.to_f) * 100 }.transform_keys { |key| User.find_by_id(key).email }
              # }], stacked: true




              %>
            </div>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="card-bottom-graph">
            <%#= bar_chart [
              {
                name: "Potential Savings",
                data: savings = total_licenses.map { |key, value| [ key, ((1 - (value / 100.0)) * total_prices[key]).round(2) ] }.to_h }
              ]
            %>

             <%= bar_chart [

          {
          name: "Used licenses spend",
          data: {"Mike Peterson" => 15500, "Rob Morrison" => 13104, "Carol Anderson" => 5600, "Peter Albridge" => 3600, "Susan Saas" => 1872, "Kathrine Hudson" => 860}
          },
          {
          name: "unused licenses spend",
          data: {"Mike Peterson" => 17568, "Rob Morrison" => 9936, "Carol Anderson" => 1152, "Peter Albridge" => 1440, "Susan Saas" => 290, "Kathrine Hudson" => 144}
          }], stacked: true, xtitle: "€ (Euro)"
          %>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "company_licenses/partials/table-subscription-detail", locals: { licenseTransactions: @company_license.license_transactions } %>

