<div class="show-container">
  <div class="app-info-container">
    <div class="app-info">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Skype-icon-new.png" alt="">
    <h4> <%= @license.company_license.license.name %> </h4>
    </div>
    <div class="app-info-group-detail">
    <h6> Contact info</h6>
    <p> help@skype.com </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Vendor </h6>
    <p> <%= @license.company_license.license.vendor.name %> </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Number of owners </h6>
    <p> 3 </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Number of departments </h6>
    <p> 3 </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Category </h6>
    <p> <%= @license.company_license.license.category.name %> </p>
    </div>

  </div>
  <div class="right-info">
    <div class="info-row">
      <div id="metrics-top">
      <div class="metrics-card">
        <div class="card-top-text">Monthly Spend</div>
         <div class="card-bottom-text">$ <%= @license.total_purchase_price %></div>
      </div>

      <div class="metrics-card">
        <div class="card-top-text">Total Licenses</div>
        <div class="card-bottom-text"><%= @license.user_licenses_purchased %></div>
      </div>

      <div class="metrics-card">
        <div class="card-top-text">Utilization</div>
        <%
          user_licenses_used = rand((@license.user_licenses_purchased / 1.3)..@license.user_licenses_purchased).floor
          utilization = ((user_licenses_used * 100) / @license.user_licenses_purchased)
        %>
        <div class="card-bottom-text"><%= utilization %>%</div>
      </div>
    </div>
    </div>
    <div class="graph-wrapper">
      beautiful graph
    </div>
  </div>
</div>

<%= render partial: "company_licenses/partials/table-subscription-detail", locals: { license: @license } %>
